apiVersion: v1
kind: Service
metadata:
  name: bankapp-service
  namespace: bankapp-namespace
  labels:
    app: bankapp
spec:
  type: NodePort
  selector:
    app: bankapp
  ports:
  - port: 8081
    targetPort: 8081
    protocol: TCP
    nodePort: 30005
